@* 
    Copyright (c) SecretCollect B.V. All rights reserved.
    Licensed under the Apache License, Version 2.0. See LICENSE file in the project root for license information.
*@

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - SecretCollect.Localization.IntegrationTests</title>
</head>
<body>
    @RenderBody()

    @RenderSection("Scripts", required: false)
</body>
</html>
